Creating A Dictionary

In [ ]:
person = {
    "name": "Jeff",
    "age": 42,
    "city": "New York"
}

Accessing Dictionary
Elements

In [ ]:
print(person["name"])  # Output: Jeff
print(person["age"])   # Output: 42

Modifying Dictionary
Elements

In [ ]:
person["age"] = 43
print(person)  # Output: {'name': 'Jeff', 'age': 43, 'city': 'New York'}

Adding and Removing Elements

In [ ]:
# Adding a new key-value pair
person["email"] = "jeff@example.com"
print(person)  # Output: {'name': 'Jeff', 'age': 43, 'city': 'New York', 'email': 'jeff@example.com'}

# Removing a key-value pair
del person["city"]
print(person)  # Output: {'name': 'Jeff', 'age': 43, 'email': 'jeff@example.com'}

# Using pop() to remove and return a value
age = person.pop("age")
print(age)  # Output: 43
print(person)  # Output: {'name': 'Jeff', 'email': 'jeff@example.com'}

Common Dictionary
Methods

In [ ]:
print(len(person))  # Output: 2
print(person.keys())  # Output: dict_keys(['name', 'email'])
print(person.values())  # Output: dict_values(['Jeff', 'jeff@example.com'])
print(person.items())  # Output: dict_items([('name', 'Jeff'), ('email', 'jeff@example.com')])

Create a Dictionary: Create a dictionary to
store information about a book (title, author,year published) and print it.

In [ ]:
book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949
}
print(book)

Modify the Dictionary: Add a new key-value
pair for the genre of the book and then
change the year published.

In [ ]:
book["genre"] = "Dystopian"
book["year"] = 1950
print(book)

Remove a Key-Value Pair: Write a program
that removes the author from the book
dictionary and prints the updated dictionary.

In [ ]:
del book["author"]
print(book)

Count Occurrences: Write a program that
counts the occurrences of each character in astring and stores the results in a dictionary.

In [ ]:
text = "hello world"
char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)  # Output: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1

Nested Dictionaries: Create a nested
dictionary to store information about
multiple students (name, age, and grades)
and print the information for each student.

In [ ]:
students = {
    "student1": {
        "name": "Alice",
        "age": 20,
        "grades": [85, 90, 92]
    },
    "student2": {
        "name": "Bob",
        "age": 22,
        "grades": [78, 82, 88]
    }
}

for student_id, info in students.items():
    print(f"{student_id}: Name: {info['name']}, Age: {info['age']}, Grades: {info['grades']}")