The "for" Loop

In [ ]:
# Using a for loop to iterate over a list
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

The “range()” Function

In [ ]:
# Using range() to print numbers from 0 to 4
for i in range(5):
    print(i)

The “while” Loop

In [ ]:
# Using a while loop to print numbers from 0 to 4
count = 0

while count < 5:
    print(count)
    count += 1  # Increment count by 1

Breaking Out of Loops

In [ ]:
# Using break to exit a loop
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)

Write a program that uses a “for” loop to
print the numbers from 1 to 10.

In [ ]:
for i in range(1, 11):
    print(i)

Write a program that calculates the sum of
numbers from 1 to 100 using a “while” loop.

In [ ]:
total = 0
count = 1

while count <= 100:
    total += count
    count += 1

print("Sum:", total)

Write a program that counts down from 10
to 1 using a while loop and prints "Blast off!"after the countdown.

In [ ]:
countdown = 10

while countdown > 0:
    print(countdown)
    countdown -= 1  # Decrement countdown by 1

print("Blast off!")

Write a program that prints all even
numbers from 1 to 20 using a “for” loop.

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)